:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: rgb(236, 228, 216);
}

.search-input {
  width: 299px;
  padding: 10px;
  font-weight: 700;
}

.search-input::placeholder {
  font-size: inherit;
}

.search-form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  font-size: 24;
  font-weight: 700;
  width: 100px;
  margin-left: 8px;
  cursor: pointer;
  background-color: #ecb10f;
  color: azure;
  border-radius: 8%;
}

.clear {
  cursor: pointer;
  font-weight: 700;
  width: 100px;
  margin-left: 8px;
  visibility: hidden;
  background-color: #ecb10f;
  color: azure;
  border-radius: 8%;
}

img {
  display: block;
  max-width: 100%;
  height: 240px;
}

.list-card {
  display: inline-block;
}

.list-card:hover {
  transform: scale(1.11);
}

.gallery {
  padding-left: 0;
  list-style: none;
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
}

.load {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 8%;
  cursor: pointer;
  font-weight: 700;
  width: 100px;
  visibility: hidden;
  margin-bottom: -25px;
  background-color: #ecb10f;
  color: azure;
  margin-bottom: 15px;
}

.toStart {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border-radius: 8%;
  cursor: pointer;
  font-weight: 700;
  width: 100px;
  visibility: hidden;
  margin-bottom: 15px;
  background-color: #ecb10f;
  color: azure;
}

.is-open {
  visibility: visible;
}

.stats {
  display: flex;
  justify-content: space-between;
}

.material-icons {
  color: #ecb10f;
  font-size: 42px;
  position: fixed;
  width: 60px;
  height: 60px;
  background-color: transparent;
  bottom: 0px;
  right: 50px;
  text-decoration: none;
  text-align: center;
  line-height: 50px;
  opacity: 0;
  cursor: pointer;
}

.show {
  opacity: 1;
}
ul {
  display: inline-flex;
  /* margin-bottom: 100px; */
}

.paginationjs-page {
  margin-right: 20px;
  margin-left: 20px;
}

#demo {
  text-align: center;
  margin-top: 25px;
}

#dataContainer {
  text-align: center;
}

li {
  list-style: none;
}
